page-home {


    ion-searchbar{
        width: 90%;
        position: absolute;
        z-index: 99;
    }

    #puntoA{
        margin: 5% 5%;
    }
    #puntoB{
        margin: 20% 5%;
    }

    #cal{
    position: absolute;
    margin: 35% 5%;
    
      z-index: 99;

    }
    #save{
        position: absolute;
        margin-top: 35%;
        margin-left: 70%;
        
          z-index: 99;
    
        }
}
