<ion-header>
  <!--ion-navbar>
    <ion-title>
      Pa' la U
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addMarker('DROP')"><ion-icon name="add"></ion-icon> Drop</button>
      <button ion-button (click)="addMarker('BOUNCE')"><ion-icon name="add"></ion-icon>Bounce</button>
    </ion-buttons>
  </ion-navbar-->
</ion-header>

<ion-content>
      <ion-searchbar id="puntoA" placeholder="Desde:" [(ngModel)]="desde"></ion-searchbar>
      <ion-searchbar id="puntoB" placeholder="Hasta:" [(ngModel)]="hasta"></ion-searchbar>
      <button ion-button id="cal" (click)="calcularRuta()">Calcular</button>
      <button ion-button id="save" (click)="saveRute()">Guardar</button>
      <div #map id="map"></div> 
 
</ion-content>
